/* Сброс стилей для всех элементов для обеспечения согласованности между браузерами */
* {
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
    box-sizing: border-box; /* Размеры элементов будут включать padding и border */
  }

/* Общие стили для body, применимые ко всем страницам */

body {
    margin: 0; /* Убирает внешние отступы у тега body */
    font-family: 'Raleway', sans-serif; /* Задает основной шрифт для содержимого страницы */
    display: flex; /* Применяет flexbox-модель для выравнивания дочерних элементов */
    justify-content: center; /* Центрирует дочерние элементы по горизонтали */
    align-items: center; /* Центрирует дочерние элементы по вертикали */
    height: 100vh; /* Задает высоту тега body равной высоте вьюпорта */
    background-color: #36384D; /* Устанавливает цвет фона для тега body */
}

/* Стили для контейнера, общие для всех страниц */

.container {
    align-items: center; /* Центрирование элементов по горизонтали */
    display: flex;
    flex-direction: column; /* Элементы расположены в столбец */
    flex-direction: row; /* Устанавливает горизонтальное направление элементов */
    align-items: flex-start; /* Выравнивание элементов по верхнему краю */
    justify-content: center; /* Центрирование элементов по горизонтали */
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: auto; /* Автоматические отступы для центрирования контейнера на странице */
    padding: 20px; /* Внутренние отступы контейнера */
    background: white; /* Белый фон контейнера */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Тень контейнера */
    border-radius: 20px; /* Скругление углов контейнера */
    width: auto; /* Автоматически подгоняет ширину под содержимое */ 
    justify-content: center; /* Центрирование элементов по вертикали */
    
}


/* Стили для блока с текстовым содержимым */

.content {
    padding: 45px; /* Внутренние отступы для содержимого */
    background: white; /* Устанавливает белый цвет фона для элемента .content */
    border-radius: 20px; /* Скругляет углы элемента .content */
    font-size: 13px; /* Устанавливает размер шрифта для текста внутри .content */
    flex: 1; /* Элемент будет занимать все доступное пространство в flex-контейнере */
    flex-basis: 50%; /* Задает базовую ширину для содержимого */
    max-width: 155%; /* Максимальная ширина содержимого */
}

/* Стили для заголовка в блоке с содержимым */

.content h1 {
    font-size: 36px; /* Размер шрифта для заголовка, измените в соответствии с вашим дизайном */
    color: #333; /* Цвет шрифта, предполагается темно-серый */
    margin-bottom: 20px; /* Устанавливает отступ снизу для заголовков h1 */
    margin: 20px 0; /* Верхний и нижний отступы */
}

/* Стили для параграфов и элементов списка в блоке с содержимым */

.content p, .topics-list li {
    color: #555; /* Цвет шрифта, предполагается светло-серый */
    font-size: 19px; /* Устанавливает размер шрифта для параграфов и элементов списка */
    line-height: 1.6; /* Межстрочный интервал */
    margin-bottom: 30px; /* Отступ снизу */
}

/* Стили для кнопок на странице */

button {
    padding: 15px 259px; /* Устанавливает внутренние отступы для кнопки */
    background-color: #ff5370; /* Устанавливает цвет фона для кнопок */
    border: none; /* Убирает границу у кнопок */
    color: white;  /* Задает цвет текста кнопок */
    cursor: pointer; /* Изменяет курсор при наведении на кнопки, указывая, что они кликабельны */
    transition: background-color 0.3s; /* Добавляет плавную анимацию изменения цвета фона при наведении */
    border-radius: 5px; /* Задает скругленные углы кнопок */
    font-size: 17px; /* Устанавливает размер шрифта текста внутри кнопки */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавляет тень под кнопкой для эффекта "поднятия" */
}

/* Стили для контейнера блока благодарности */

.thanks-container {
    display: flex; /* Использует flexbox для выравнивания содержимого */
    flex-direction: column; /* Располагает дочерние элементы вертикально */
    justify-content: center; /* Выравнивает содержимое по центру по вертикали */
    align-items: center; /* Выравнивает содержимое по центру по горизонтали */
    padding: 20px; /* Отступы внутри контейнера */
    background: white; /* Белый фон контейнера */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Тень вокруг контейнера */
    border-radius: 20px; /* Скругленные углы контейнера */
}

/* Стили для текстового сообщения в блоке благодарности */

.thanks-message {
    text-align: center; /* Выравнивание текста по центру в блоке благодарности */
    max-width: 400px; /* Ограничение максимальной ширины блока для поддержания читабельности текста */
    margin: auto; /* Автоматический верхний и нижний отступы для центрирования блока по вертикали */
    background-color: #fff; /* Белый фон блока */
    padding: 20px; /* Внутренние отступы вокруг содержимого блока */
    border-radius: 12px; /* Скругление углов блока */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Тень блока для создания эффекта глубины */
}

/* Стили для заголовка в блоке благодарности */

.thanks-message h1 {
    font-size: 24px; /* Размер шрифта заголовка */
    color: #333; /* Цвет текста заголовка */
    margin-bottom: 10px; /* Отступ снизу для заголовка */

}

/* Стили для абзацев в блоке благодарности */

.thanks-message p {
    font-size: 17px; /* Размер шрифта абзаца, для хорошей читаемости */
    line-height: 1.5; /* Межстрочный интервал, делает текст более просторным и читабельным */
    color: #333; /* Цвет текста абзацев, темный серый */
    margin-bottom: 20px; /* Отступ снизу для абзацев */
    max-width: 400px; /* Максимальная ширина абзаца, контролирует ширину текста для лучшей читаемости */
    text-align: center; /* Выравнивание текста по центру, соответствует дизайну блока */
    margin-left: auto; /* Автоматический левый отступ, помогает центрировать абзац */
    margin-right: auto; /* Автоматический правый отступ, помогает центрировать абзац */
}

/* Стили для иконки успешного действия в блоке благодарности */

.thanks-message .success-icon {
    width: 100px; /* Ширина иконки, делая ее заметной, но не перегруженной */
    height: auto; /* Высота иконки подстраивается автоматически под ширину */
    margin-bottom: 20px; /* Отступ снизу от иконки до следующего элемента */
}

/* Стили для кнопки "Закрыть сообщение" в блоке благодарности */

.thanks-message button {
    padding: 15px 30px; /* Устанавливаем внутренние отступы для текста кнопки */
    background-color: #36384D; /* Цвет фона кнопки - темно-синий */
    border: none; /* Убираем стандартную рамку вокруг кнопки */
    color: white; /* Цвет текста на кнопке - белый */
    cursor: pointer; /* Меняет курсор на указывающий палец при наведении на кнопку */
    transition: background-color 0.3s; /* Плавное изменение цвета фона при наведении */
    border-radius: 5px; /* Скругление углов */
    font-size: 17px; /* Размер шрифта текста кнопки, стандартный размер - 16px */
    text-transform: uppercase; /* Преобразуем текст кнопки в верхний регистр */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень под кнопкой, создающая эффект "поднятия" */
    margin-top: 20px; /* Добавляем верхний отступ */
}

/* Кнопка при наведении */

.thanks-message button:hover {
    background-color: rgb(0, 0, 0); /* Темно-розовый цвет фона кнопки при наведении */
}

/* Кнопка при наведении */

button:hover {
    background-color: #36384D; /* Изменяет цвет фона кнопки при наведении курсора */
}

/* Стили для контейнера кнопки */

.button-container {
    display: flex;
    align-items: center; /* Выравниваем элементы по вертикали по центру */
}

/* Стили для текста кнопки */

.button-text {
    flex: 1; /* Растягиваем текст на всю доступную ширину */
    margin-right: 10px; /* Добавляем небольшой отступ между текстом и изображением галочки */
}

/* Стили для изображения галочки */
.checkmark-image {
    width: 120px; /* Устанавливаем ширину изображения галочки */
    height: 20px; /* Устанавливаем высоту изображения галочки */
  }

/* Стили для изображения в блоке иллюстрации: */

.illustration {
    flex-basis: 50%; /* Задает базовую ширину для иллюстрации */
    max-width: 50%; /* Максимальная ширина иллюстрации */
    display: flex; /* Использует flexbox для выравнивания изображения */
    justify-content: center; /* Центрирует изображение по горизонтали */
    align-items: center; /* Центрирует изображение по вертикали */
    overflow: hidden; /* Скрывает части изображения, выходящие за пределы границ */
    
}

/* Стили для изображения в блоке иллюстрации: */

.illustration img {
    max-width: 100%; /* Максимальная ширина изображения, чтобы оно не выходило за пределы контейнера */
    height: auto; /* Высота изображения изменяется автоматически */
    object-fit: contain; /* Изображение масштабируется, чтобы быть полностью видимым */
}

/* Адаптивные стили для мобильных устройств: */

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Ставит дочерние элементы в столбец на экранах шириной менее 768px */
        width: 90%; /* Контейнер занимает больше места на мобильных устройстваствах /
        padding: 20px; / Уменьшаем отступы на мобильных устройствах */
    }
    .content, .illustration {
        width: 100%; /* Дочерние элементы занимают всю доступную ширину на маленьких экранах */
        max-width: 100%; /* Занимает всю ширину экрана */
        padding: 20px; /* Устанавливает внутренний отступ для элементов */
        border-radius: 20px 20px 0 0; /* Скругляет только верхние углы элементов */
        flex-basis: auto; /* Автоматическая базовая ширина для маленьких экранов */
    }
    .illustration {
        order: -1; /* Перемещает иллюстрацию над содержимым на мобильных устройствах */
        border-radius: 0 0 20px 20px; /* Скругляет только нижние углы иллюстрации */
    }
}

/* Сбрасывает стили списка: убирает маркеры, отступы и поля */
.topics-list {
    list-style: none; /* Убирает маркеры списка */
    padding: 0; /* Устанавливает нулевой внутренний отступ для списка */
    margin: 0; /* Устанавливает нулевой внешний отступ для списка */
}

.topics-list li::before {
    display: inline-block; /* Позволяет добавить стили к псевдоэлементу */
    width: 31px; /* Ширина маркера списка */
    height: 31px; /* Высота маркера списка */
    margin-right: 15px; /* Отступ справа от маркера до текста списка */
    content: ""; /* Устанавливает содержимое псевдоэлемента, в данном случае пустое, чтобы вставить иконку перед элементом списка */
    background-image: url('image/success.png'); /* Устанавливает изображение фона для псевдоэлемента, используется как иконка списка */
    background-size: 100% 100%; /* Задает размер фонового изображения, чтобы оно полностью покрывало элемент */
    background-repeat: no-repeat; /* Отменяет повторение изображения, так что оно показывается только один раз */
    background-position: center; /* Центрирует фоновое изображение внутри псевдоэлемента */
  }

  input[type="email"] {
    width: 100%; /* Задает ширину поля ввода email, чтобы оно занимало почти всю доступную ширину */
    padding: 15px 20px; /* Устанавливает внутренние отступы поля ввода для текста */
    border: 3px solid #ccc; /* Устанавливает толстую серую границу для поля ввода */
    border-radius: 5px; /* Скругляет углы поля ввода */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Добавляет тень под полем ввода */
    font-size: 21px; /* Увеличивает размер шрифта в поле ввода */
    margin: 10px 0px; /* Задает верхний и нижний внешние отступы для поля ввода */
  }

  /* Стили для иконки успеха */

  .success-icon {
    width: 100px; /* или другой размер, согласно вашему дизайну */
    margin: 20px auto; /* Центрирование иконки */
    margin-bottom: 20px; /* Отступ снизу, чтобы отделить иконку от текста */
}

/* Стили для иконки внутри блока успеха */

.success-icon img {
    width: 50px; /* Ширина иконки */
    height: auto; /* Автоматическая высота для сохранения пропорций изображения */
}

.checkmark {
    margin-right: 10px; /* Регулируйте отступ по мере необходимости */
}